{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Edit Society Details Form -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong>Edit Society</strong> Form
            </div>
            <div class="card-body card-block">
                <form action="{% url 'edit_society' society.id %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="society-name" class="form-control-label">Society Name</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="society-name" name="society_name" value="{{ society.society_name }}" placeholder="Society Name" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="address" class="form-control-label">Address</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="address" name="address" value="{{ society.address }}" placeholder="Address" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="door-no" class="form-control-label">Door No</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="door-no" name="door_no" value="{{ society.door_no }}" placeholder="Door No" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="street" class="form-control-label">Street</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="street" name="street" value="{{ society.street }}" placeholder="Street" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="area-name" class="form-control-label">Area Name</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="area-name" name="area_name" value="{{ society.area_name }}" placeholder="Area Name" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="mandal" class="form-control-label">Mandal</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="mandal" name="mandal" value="{{ society.mandal }}" placeholder="Mandal" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="district" class="form-control-label">District</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="district" name="district" value="{{ society.district }}" placeholder="District" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="state" class="form-control-label">State</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="state" name="state" value="{{ society.state }}" placeholder="State" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="mobile-no" class="form-control-label">Mobile No</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="mobile-no" name="mobile_no" value="{{ society.mobile_no }}" placeholder="Mobile No" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="status" class="form-control-label">Status</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="status" name="status" value="{{ society.status }}" placeholder="Status" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Update Society</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
